<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>Shorthand Url</title>
    <link rel="stylesheet" href="style.css" type="text/css">
    <!-- <script type="text/javascript" src="home.js"></script> -->

  </head>

  <body>
    
    {{{body}}}   

  </body>
</html>
