
<h3>This is a shorthand url parser it will take A valid Url as a parameter and give you a shortand url</h3>

<h4>Example</h4>
<p>{"original_url" : "https://www.freecodecamp.com"}</p>
<p>{"shorthand_url": "shorthandurl.herokuapp.com/1"}</p>

<ul>
{{#each url}}
<li>{{item}}
{{/each}}
</ul>
